@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 500;
  color: #39393A;
}

body {
  background-image: url(./images/boa.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-color: #f6c6d5;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4rem 0;
  padding-bottom: 6rem;
}

h1 {
  text-align: center;
  padding-top: 6rem;
  font-family: "Dancing Script", cursive;
  color: #e7efc5;
  text-shadow: 2px 1px 0px #d41d2f;
}

h2 {
  font-family: 'Noto Sans KR', sans-serif;
  color: #d41d2f;
  font-size: 2rem;
  text-align: center;
}

h3 {
  font-weight: 800;
  margin-bottom: 2rem;
}

h5 {
  color: #d41d2f;
  font-size: 2rem;
  text-align: center;
}

figure {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

small {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin
}

a {
  color: #fff;
  cursor: pointer;
}

#btn-change {
  background-color: transparent;
  border: 2px solid #d41d2f;
  color: #d41d2f;
  font-weight: 900;
  font-size: 1rem;
  padding: 1rem 2rem;
  border-radius: 10px;
  cursor: pointer;
}

#btn-change:hover {
  background-color: #d41d2f;
  color: #fff;
  border: 2px solid #d41d2f;
}

#boa-gif {
  width: 20%;
  border-radius: 999999px;
}

#glass {
  margin: 4rem;
  position: center;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(5px);
}

#boa-photo {
  border-radius: 10px;
  margin: 0 2rem;
}

#humors {
  display: flex;
  justify-content: space-evenly;
}

#videos {
  margin-top: 4rem;
}
